* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: lightblue;
}


.container {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; /*  Espaço entre as colunas*/
    justify-content: center;
    padding: 20px;
}
.espaço {
    background-color: white;
    padding: 15px 15px 40px;

}

h2 {
    text-align: center;
}

.photo {
    width: 100%;
    height: 290px;
    object-fit: cover;
}